/* @import './base.css'; */

.container .router-link-active {
    background-color: white;
    color: black;
}

@import url('https://fonts.google.com/share?selection.family=Roboto:wght@100;400;700');



#app {
  font-family: 'Roboto', sans-serif;
}